// width
$xx-large-width: 1400px;
$x-large-width: 1200px;
$large-width: 1024px;
$medium-width: 768px;
$small-width: 640px;
$x-small-width: 540px;
$xx-small-width: 480px;

// font
$x-small-size: .5rem;
$small-size: .7rem;
$s-small-size: .75rem;
$medium-size: 0.85rem;
$normal-size: 1.05rem;
$s-large-size: 1.1rem;
$large-size: 1.3rem;
$x-large-size: 1.7rem;
