.btn{
          
  display: flex;
  justify-content: center;
  gap: .3rem;
  padding: .7rem 1.5rem;

  transition: all .5s;
  
  cursor: pointer;
  .icon{
    display: flex;
    align-self: center;
    width: .7rem;
    
    transition: all .5s;
  }

  .text{
    // background-color: green; //test
    font-size: $medium-size;
    line-height: .7rem;

    transition: all .5s;
  }

  
}

.btn-main{
  background-color: var(--main-color);
  box-shadow: 0 0 2rem .15rem var(--main-color-50);
  .text{
    color: var(--light-color);
  }
  .icon{
    fill: var(--light-color);
  }
  &:hover{
    background-color: var(--secondary-color);
    box-shadow: 0 0 2rem .15rem var(--secondary-color);
  }
}

.btn-dark-outline{
  border: solid 1px var(--dark-color);
  padding: calc(.7rem - 2px) 1.5rem !important;
  .text{
    color: var(--dark-color);
  }
  .icon{
    fill: var(--dark-color);
  }
  &:hover{
    background-color: var(--dark-color);
    .text{
      color: var(--light-color);
    }
    .icon{
      fill: var(--light-color);
    }
  }
}

.btn-dark{
  border: solid 1px var(--dark-color);
  background-color: var(--dark-color);

  padding: calc(.7rem - 1px) 1.5rem !important;

  .text{
    color: var(--light-color);
  }
  .icon{
    fill: var(--light-color);
  }
  
  &:hover{
    border: solid 1px var(--dark-color);
    background-color: transparent;
    .text{
      color: var(--dark-color);
    }
    .icon{
      fill: var(--dark-color);
    }
  }
}